.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogBox {
  background-color: #ffffff14;
  height: calc(100% - 100px);
  width: 500px;
  border-radius: 18px;
  backdrop-filter: blur(97px);
}
