.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogBox {
  background-color: #ffffff14;
  height: max-content;
  width: 450px;
  border-radius: 18px;
  backdrop-filter: blur(97px);

  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
  user-select: none;
}

.header img {
  height: 70px;
  width: 70px;
}

.headertextBox {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}

.header .logoText {
  color: var(--primary-text);
  font-size: 2rem;
  line-height: 2rem;
}

.tagline {
  color: var(--primary-text);
  font-size: 0.75rem;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 0.5rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgetPassword {
  font-size: 12px;
  padding-left: 8px;
  color: #b4b4f0;
}

.forgetPassword:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 2px;
  user-select: none;
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btnText {
  font-size: 12px;
  padding-left: 8px;
  display: flex;
  gap: 4px;
  margin-top: 4px;
  color: white;
}

.createAccount {
  font-size: 12px;
  color: #b4b4f0;
  cursor: pointer;
}

.createAccount:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 2px;
  user-select: none;
}
