/* ● Poppins font (light, regular, medium and bold) ●  */

@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
}
